<!-- view/report -->
<% layout('../content') %>
<% stylesheet(`${module}/node_modules/pivottable/pivot.css`) - %>

<script src="<%= module %>/node_modules/jquery.floatThead/dist/jquery.floatThead.min.js"></script>
<script src="<%= module %>/js/sheet<%= staticsSuffix %>.js"></script>
<script src="<%= module %>/node_modules/pivottable/dist/pivot.min.js"></script>
<script src="<%= module %>/node_modules/pivottable/dist/pivot.ru.min.js"></script>
<script src="<%= module %>/js/pivot<%= staticsSuffix %>.js"></script>

<div class="panel panel-default list-container">
  <div class="panel-body">
    <%
    var btnText = '';
    var showSheets = false;
    if (sourcesInfo) {
      showSheets = true;
      btnText = __('templates.default.view.report.refreshInfo');
    %>

    <div class="report-info">
      <div class="report-info-head text-primary">
        <span class="glyphicon"></span><%=__('templates.default.view.report.title')%>
      </div>
      <div class="report-info-body">
        <div class="table-responsive">
          <table class="table table-striped table-condensed" style="width:auto">
            <thead>
            <tr>
              <th><%=__('templates.default.view.report.source')%></th>
              <th><%=__('templates.default.view.report.sourceDate')%></th>
            </tr>
            </thead>
            <tbody>
            <% sourcesInfo.sort(function (a, b) {
              return a.source.localeCompare(b.source);
            }) %>
            <% sourcesInfo.forEach(function(info) { %>
            <tr>
              <td><%= info.source %></td>
              <td class="text-center">
                <%= info.buildFinished %> <%= info.ready ? '' : `- ${__('templates.default.view.report.refreshing')}` %>
              </td>
            </tr>
            <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%
    } else {
      btnText = __('templates.default.view.report.prepareInfo');
    %>
    <div class="info">
      <div id="no-source-alert" class="alert alert-warning">
        <%=__('templates.default.view.report.noPreparedInfo')%>
      </div>
    </div>
    <% } %>

    <button id="prepare_source" type="button" class="btn btn-primary mb30">
      <%= btnText %>
    </button>

    <div id="progress" class="progress" style="display:none">
      <div class="progress-bar progress-bar-info progress-bar-striped active"></div>
    </div>
    <div id="progress-info" class="progress-info mb40" style="display:none"></div>

    <% if (sourcesInfo) { %>
    <div id="bi-sheets-loader" class="bi-sheets-loader">
      <span class="loader fa fa-refresh fa-spin"></span>
      <span class="">
        <%=__('templates.default.view.report.loading')%>
      </span>
    </div>
    <% } %>

    <div class="bi-sheets" style="display:none;">
      <div class="bi-sheet">
        <h4 class="title"><%= sheet.caption %></h4>
        <div class="content">
          <%
          switch (sheet.type) {
            case 'list':
          case 'aggregation': {
          %>

          <div id="<%= sheet.name %>_range_filter" class="range-filters clearfix">
            <%- partial('export-tools') %>
            <% if (sheet.rangeFilters || sheet.params) { %>
            <button class="apply-filters btn btn-primary apply pull-right">
              <%=__('templates.default.view.report.apply')%>
            </button>
            <% }
            if (sheet.rangeFilters) {
              for (let nm in sheet.rangeFilters) {
            if (sheet.rangeFilters.hasOwnProperty(nm)) {
            %>
            <div class="range-filter" range-inclusive="<%= sheet.rangeFilters[nm].inclusive %>">
              <span><%= sheet.rangeFilters[nm].caption[0] %></span>&nbsp;
              <%- partial('param-input', {nm: nm, param: sheet.rangeFilters[nm], sheet}) %>
              <span><%= sheet.rangeFilters[nm].caption[1] %></span>&nbsp;
              <%- partial('param-input', {nm: nm, param: sheet.rangeFilters[nm], sheet}) %>
            </div>
            <% }
            }
            }

            if (sheet.params) {
              for (let nm in sheet.params) {
            if (sheet.params.hasOwnProperty(nm)) {
            %>
            <div class="fetch-param">
              <span><%= sheet.params[nm].caption %></span>&nbsp;
              <%- partial('param-input', {nm: nm, param: sheet.params[nm], sheet}) %>
            </div>
            <% }
            }
            }
            %>
          </div>
          <div class="table-responsive table-fixed-height">
            <table id="<%= sheet.name %>"
                   class="aggregation-sheet table table-bordered table-hover table-striped table-condensed"
                   fetch-url="<%= module %>/<%= mine.canonicalName() %>/<%= report.name() %>/<%= sheet.name %>/data"
                   field-map="<%= JSON.stringify(sheet.fields) %>"
                   range-filters="<%= JSON.stringify(sheet.rangeFilters || {}) %>"
                   fetch-params="<%= JSON.stringify(sheet.params || {}) %>"
                   row-styles="<%= JSON.stringify(sheet.styles || {}) %>"
                   page-size="<%= sheet.pageSize || 0 %>"
                   data-need-filter-set="<%=!!(sheet.needFilterSet)%>"
                   data-need-filter-msg="<%=sheet.needFilterMessage || ''%>"
                   data-page="1">
              <thead>
              <%
              for (let i = 0; i < sheet.fields.length; i++) {
              if (sheet.fields[i].filter) {
              %>
              <tr class="filter">
                <th colspan="<%= sheet.fields.length %>" class="text-gray">
                  <%=__('templates.default.view.report.tableFilters')%>
                </th>
              </tr>
              <tr class="filter">
                <% sheet.fields.forEach(function (f) { %>
                <td<%-f.filter ? ' class="select"' : ''%>>
                  <% if (f.filter) { %>
                  <%if (sheet.type === 'list') {
                  if (Array.isArray(f.select)) {%>
                  <select name="<%=f.field%>" class="form-control select2">
                    <option value="__none__"><%=__('templates.default.view.report.options.no')%></option>
                    <%f.select.forEach(s => {%>
                    <option value="<%=s%>"><%=s%></option>
                    <%});%>
                  </select>
                  <%} else if (typeof f.filter === 'object') {%>
                  <select id="f_<%=sheet.name%>_<%=f.field%>" name="<%=f.field%>"
                          class="form-control select2"
                          data-filter="<%=module%>/<%=mine.canonicalName()%>/<%=report.name()%>/<%=sheet.name%>/<%=f.field%>/filter">
                    <option value="__none__"><%=__('templates.default.view.report.options.no')%></option>
                  </select>
                  <%}
                  } else {%>
                  <select id="f_<%=sheet.name%>_<%=f.field%>" name="<%=f.field%>" class="form-control select2">
                    <option value="__none__"><%=__('templates.default.view.report.options.no')%></option>
                  </select>
                  <%}%>
                  <% } %>
                </td>
                <% }); %>
              </tr>
              <%
                break;
              }}
              sheet.header.forEach(function (row) {
              %>
              <tr>
                <%
                row.forEach(function (h) {
                %>
                <th rowspan="<%= h.rowSpan %>"
                    colspan="<%= h.colSpan %>"<%- h.align?' style="text-align:' + h.align + ';" ':'' %>><%= h.caption %></th>
                <%
                });
                %>
              </tr>
              <%
              });
              %>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="sheet-pagination" style="display:none; max-width:300px;">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="go-left-btn btn btn-default">&laquo;</button>
              </div>
              <input type="number" class="form-control" value="1">
              <span class="input-group-addon" id="basic-addon1">/</span>
              <div class="input-group-btn">
                <button type="button" class="go-page-btn btn btn-default"><%=__('templates.default.view.sheet.proceed')%></button>
                <button type="button" class="go-right-btn btn btn-default">&raquo;</button>
              </div>
            </div>
          </div>
          <%
          } break;
          case 'pivot': {
          %>
          <div class="range-filters clearfix">
            <%-partial('export-tools')%>
            <% if (sheet.params) { %>
              <button class="apply-filters btn btn-primary apply pull-right" data-sheet="<%= sheet.name %>">
                <%=__('templates.default.view.report.apply')%>
              </button>
            <%    for (let nm in sheet.params) {
                  if (sheet.params.hasOwnProperty(nm)) { %>
              <div class="fetch-param">
                <span><%=sheet.params[nm].caption%></span>&nbsp;
                <%- partial('param-input', {nm: nm, param: sheet.params[nm], sheet}) %>
              </div>
            <%    }
                }
              } %>
          </div>
          <div id="<%= sheet.name %>" class="pivot-sheet"
               fetch-url="<%= module %>/<%= mine.canonicalName() %>/<%= report.name() %>/<%= sheet.name %>/data"
               pivot-cols="<%= JSON.stringify(sheet.columns) %>"
               pivot-rows="<%= JSON.stringify(sheet.rows) %>"
               pivot-data="<%= JSON.stringify(sheet.data) %>"
               pivot-aggregations="<%= JSON.stringify(sheet.aggregations) %>"
               pivot-formating="<%=JSON.stringify(sheet.formating || {})%>"
               pivot-customizable="<%= sheet.customizable?'true':'false' %>"
               pivot-captions="<%= JSON.stringify(sheet.captions) %>"
               pivot-sorting="<%=JSON.stringify(sheet.sort)%>"
          ></div>
          <%
          } break;
          }
          %>
        </div>
      </div>
    </div>

    <div id="test"></div>
  </div>
</div>

<% var sheetFooter = resolveTpl('sheet_footer', null, true);
  if (sheetFooter) { %>
<%-partial(sheetFooter, {sheet})%>
<% } %>

<%
  const msg = {
    loading: __('templates.default.view.report.script.loading'),
    done: __('templates.default.view.report.script.done'),
    started: __('templates.default.view.report.script.started'),
    error: __('templates.default.view.report.script.error')
  }
%>

<script>
  var sourcesReady = <%=JSON.stringify(showSheets)%>;
  function statusCheck() {
    setTimeout(function () {
      $.get("<%= module %>/<%= mine.canonicalName() %>/check", function (data) {
        var $info = $('#progress-info').empty();
        if (data.currentSource) {
          $info.html('<span class="fa fa-refresh fa-spin mr5"></span> <%=msg.loading%>: <b>' + data.currentSource.caption + '</b>');
        }
        var $progress = $('#progress');
        $progress.find('.progress-bar').css('width', data.progress + '%').html(data.progress + '%');
        if (data.progress < 100) {
          var timeout = setTimeout(statusCheck, 2000);
        } else {
          messageCallout.success(<%-JSON.stringify(msg.done)%>);
          $progress.hide();
          $info.hide();
          $('.bi-sheets').show();
          $('#prepare_source').show();
          $('.aggregation-sheet').not('.floatThead-table').sheet('reload');
          $('.pivot-sheet').ionPivot({locale: <%- JSON.stringify(locale)%>});
        }
      }).fail(processAjaxError);
    }, 2000);
  }

  $("#prepare_source").click(function () {
    var $alert = $('#no-source-alert').hide();
    var $btn = $(this).hide();
    $.get('<%= module %>/<%= mine.canonicalName() %>/build').done(function () {
      messageCallout.info(<%-JSON.stringify(msg.started)%>);
      $('#progress').show().find('.progress-bar').css('width', '0').html('');
      $('#progress-info').empty().show();
      statusCheck();
    }).fail(function () {
      $btn.show();
      $alert.show();
      messageCallout.error(<%-JSON.stringify(msg.error)%>);
    }).fail(processAjaxError);
  });

</script>
<%-partial('sheets-script')%>
<script>
  $(function () {
    var $viewers = $('.table-fixed-height');
    $(window).on('resize', function () {
      $viewers.css('max-height', $(window).height() - 100);
    }).trigger('resize');
    $viewers.children('table').on('report-loaded', function (e, tc) {
      setTimeout(function () {
        $(this).floatThead('reflow');
      }.bind(this), 0);
      loadPagination.apply(this, [tc]);
    }).floatThead({
      scrollContainer: function ($table) {
        return $table.parent();
      }
    });
  });
</script>

<script src="<%=module%>/node_modules/file-saver/FileSaver.min.js"></script>
<script src="<%=module%>/node_modules/pdfmake/build/pdfmake.js"></script>
<script src="<%=module%>/node_modules/pdfmake/build/vfs_fonts.js"></script>
<script src="<%=module%>/js/export.js"></script>
