<% layout('./layout') -%>

<section id="middle">

  <header id="page-header">
    <h1><%= title %></h1>
    <ol class="breadcrumb">
      <li><a href="<%=module%>"><i class="fa fa-dashboard"></i> <%=__('templates.default.content.title')%></a></li>
      <%- blocks.breadcrumbs %>
    </ol>
  </header>

    <div id="content" class="padding-20">
        <div id="message-callout" class="message-callout alert">
          <h4 class="message-callout-title"></h4>
          <p class="message-callout-content"></p>
        </div>
        <%- body %>
    </div>
</section>
