<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <base id="baseUrl" href="<%=baseUrl%>">
  <link href="<%= module %>/vendor/font-awesome-min/css/font-awesome.min.css" rel="stylesheet">
  <link href="<%= module %>/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="<%= module %>/vendor/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css">
  <link href="<%= module %>/vendor/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
  <link href="<%= module %>/vendor/icheck/skins/flat/grey.css" rel="stylesheet" type="text/css">
  <link href="<%= module %>/css/base<%= staticsSuffix %>.css" rel="stylesheet" type="text/css">
  <link href="<%= module %>/vendor/select2/css/select2.min.css" rel="stylesheet">
  <%- stylesheets %>
  <link href="<%= module %>/css/common<%= staticsSuffix %>.css" rel="stylesheet">
  <link href="<%= module %>/css/print.css" rel="stylesheet">

  <script src="<%= module %>/vendor/jquery/jquery.min.js"></script>
  <script src="<%= module %>/vendor/js-cookie/src/js.cookie.js"></script>
  <script src="<%= module %>/vendor/store/store.min.js"></script>
  <script src="<%= module %>/js/preload.js"></script>
  <script src="i18n/handler.js"></script>
</head>

<script>
  window.__ = function(id, params) {
    return window.s('<%= module %>', id, params);
  }
</script>

<body data-page="<%=pageCode %>">

<div id="wrapper" class="clearfix">
    <% include layout/sidebar %>
    <% include layout/header %>
    <%- body %>
</div>

<script>
  window.sidebarSplitter && sidebarSplitter.init();
</script>

<div id="imodal-loader"></div>
<iframe id="imodal-frame" name="imodal_<%=new Date().getTime()%>" class="imodal-frame" data-blank="about:blank"></iframe>

<div id="global-overlay" class="global-overlay">
  <div class="global-overlay-body">
    <div class="loader"><span class="fa fa-refresh fa-spin"></span></div>
  </div>
</div>

<div id="global-loader" class="global-loader">
  <span class="loader fa fa-refresh fa-spin"></span>
</div>

<script src="<%=module%>/vendor/jquery-ui/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="<%=module%>/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="<%=module%>/vendor/moment/moment-with-locales.min.js" type="text/javascript"></script>
<script src="<%=module%>/vendor/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="<%=module%>/vendor/icheck/icheck.min.js" type="text/javascript"></script>
<script>
  var plugin_path = '<%=baseUrl%><%=module%>/js/plugins/';
</script>
<script src="<%=module%>/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="<%=module%>/vendor/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js" type="text/javascript"></script>
<link href="<%= module %>/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
<script src="<%=module%>/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="<%=module%>/vendor/select2/js/select2.min.js"></script>
<script src="<%=module%>/vendor/select2/js/i18n/ru.js"></script>
<script src="<%=module%>/js/common<%=staticsSuffix%>.js"></script>
<%- scripts %>
<%- typeof pageEndContent !== 'undefined' ? pageEndContent : "" %>
</body>
</html>
